a {
    text-decoration: none;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.navbar {
    padding-top: 37px;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-end;
}

.navbar .section-name {
    font-size: 24px;
    color: #31343b;
    margin-right: 25px;
}

.navbar .nav {
    display: flex;
}

.nav .link {
    margin-right: 25px;
}

.link a{
    color: #31343b;
    font-size: 14px;
}

.list{
    display: flex;
    margin-right: -20px;
    flex-wrap: wrap;
}

.list .item{
    width: 360px;
    margin-right: 20px;
    margin-bottom: 12px;
}

.list .item .a{
    display: block;
}

.item .photo{
    display: block;
}

.item .content{
    background-color: #e8e8e8;
    padding: 19px 0 13px;
    text-align: center;
}

.item .content .title{
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: #31343b;
    text-align: center;
    display: inline-block;
}